<section class="row demoCTA">
  <div class="col-sm-12">
    <div class="content">
      <h4>Ready to learn more?</h4>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#salesModal">Get a demo</button>
    </div><!-- .content -->
  </div><!-- .col -->
</section>