<footer class="row">
  <div class="col-sm-12">
    <div class="content">
        <div class="footerLinks">
          <ul class="clearfix">
            <li><a href="about.html">About</a></li>
            <li><a href="team.html">Team</a></li>
            <li><a href="customers.html">Customers</a></li>
            <li><a href="https://www.wepay.com/developer">Documentation</a></li>
            <li><a data-toggle="modal" href="#salesModal">Sales</a></li>
            <li><a href="https://support.wepay.com/">Support</a></li>
            <li><a href="https://www.wepay.com/api/payments-101">Payments 101</a></li>
          </ul>
        </div>

        <div class="socialIcons">
          <ul class="clearfix">
            <li><a href="https://twitter.com/WePay"><i class="icon-twitter"></i> Twitter</a></li>
            <li><a href="https://www.facebook.com/Wepay"><i class="icon-facebook"></i> Facebook</a></li>
            <li><a href="https://plus.google.com/+wepay"><i class="icon-gplus"></i> Google+</a></li>
            <li><a href="http://www.youtube.com/wepayofficial"><i class="icon-youtube"></i> YouTube</a></li>
          </ul>            
        </div>
    </div><!-- .content -->
  </div><!-- .col -->
</footer>