<!-- Login Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div id="loginModalContent">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <form action="#" method="get">
            <p class="wepay-logo">WePay</p>
            <label>Email</label>
            <input type="email" autocomplete="off" placeholder="Email address" maxlength="50" value="" name="email" tabindex="1" required>
            <label>Password</label>
            <input type="password" autocomplete="off" placeholder="Password" maxlength="50" value="" name="password" tabindex="2" required>
            <button class="btn btn-primary" type="submit" tabindex="3">Login</button>
            <a href="https://www.wepay.com/register/recover" id="recover_password" tabindex="4">Forgot your password?</a>
            <hr>
            <a href="https://www.wepay.com/register" class="btn btn-default" tabindex="5">Sign up</a>
          </form>

          <!--div id="password-reset">
            <p class="wepay-logo">WePay</p>
            <p>We've noticed suspicious login attempts to access your account.</p>
            <p>To protect your security, we've reset your password and emailed you instructions to update your password.</p>
            <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
          </div-->

        </div>
        <!--div class="modal-footer">        
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
        </div-->
      </div>
    </div>
  </div>
</div>