<header class="row">
  <div class="col-xs-12 col-sm-12 headerWrapper">
    <h1><a id="logo_link" href="index.html">WePay</a></h1>
    <div id="topLinks" class="clearfix">
      <ul class="clearfix">
        <li><a class="api" href="features.html">API Docs</a></li>
        <li><a data-toggle="modal" href="#loginModal">Login</a></li>
        <li><a id="btnMenu" href="#navMenu"><i class="icon-menu-bars"></i></a></li>
      </ul>
    </div><!-- .topLinks -->
  </div><!-- .col -->

  <nav id="navMenu">
    <div class="row navWrapper">
      <button type="button" class="close">&times;</button>
      <div class="col-sm-6 col-sm-push-6">
        <div class="content rightCol">
          <ul>
            <li><a data-toggle="modal" href="#loginModal">Sign Up</a></li>
            <li><a href="features.html">Features</a></li>
            <li><a href="platforms.html">Platforms</a></li>
            <li><a href="https://www.wepay.com/developer/faq/pricing">Pricing</a></li>
            <li><a href="https://support.wepay.com">Support</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="team.html">Team</a></li>
          </ul> 

          <ul>
            <li><a href="https://www.wepay.com/legal/privacy-policy">Privacy &amp; Terms</a></li>
            <li><a href="https://www.wepay.com/security">Security</a></li>
            <li><a href="jobs.html">Jobs</a></li>
            <li><a href="press.html">Press</a></li>
            <li><a href="http://blog.wepay.com/">Blog</a></li>
            <li><a href="customers.html">Customers</a></li>
            <li><a data-toggle="modal" href="#salesModal">Sales</a></li>
          </ul> 
        </div><!-- .content -->
      </div><!-- .col -->

      <div class="col-sm-6 col-sm-pull-6">
        <div class="content leftCol">
          <a href="https://www.wepay.com/developer"><i class="icon-api"></i><br> API DOCS</a></li>
          <a data-toggle="modal" href="#loginModal"><i class="icon-login"></i><br> LOGIN</a>
        </div><!-- .content -->
      </div><!-- .col -->
    </div><!-- .row -->
  </nav><!-- .navMenu -->
</header>

