<h1 class="text-center text-black">Slider</h1>

<div class="container-fluid text-black">
  <div class="row">
    <div class="col-md-12">
      <div class="slider-container">

        <input type="checkbox" ng-model="disableSlider1"> disable slider1 &nbsp;|&nbsp; slider1-value: {{sliderValue1}}

        <my-slider slider-default-txt="{{sliderDefaultTxt1}}" slider-text-arr="sliderTextArr1" slider-value="sliderValue1" disable-slider="disableSlider1"></my-slider>

        <input type="checkbox" ng-model="disableSlider2"> disable slider2 &nbsp;|&nbsp; slider2-value: {{sliderValue2}}

        <my-slider slider-default-txt="{{sliderDefaultTxt2}}" slider-text-arr="sliderTextArr2" slider-value="sliderValue2" disable-slider="disableSlider2"></my-slider>

        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>

      </div>
    </div>
  </div>
</div>
