---
title: About
---

<section class="row">
  <div class="col-sm-12">
    <div class="content hero aboutHero1">
    </div><!-- .content -->
  </div><!-- .col -->
</section>

<section class="row greenTheme">
  <div class="col-sm-6">
    <div class="content card cardTitle">
      <h2>Our mission</h2>
    </div><!-- .content -->
  </div><!-- .col -->

  <div class="col-sm-6">
    <div class="content card cardDetail">
      <div class="vertical-align">
        <p>A bottom-up economic revolution is happening. New platforms are emerging, creating new forms of commerce and community that are changing people's lives. Payments are enabling this creativity and we strive to be the innovation agents in this revolution.</p>
      </div><!-- .vertical-align -->
    </div><!-- .content -->
  </div><!-- .col -->
</section>

<section class="row">
  <div class="col-sm-6">
  	<div class="content card cardTitle">
      <h2>We want to help <strong>power</strong> the new <strong>economy</strong></h2>
    </div><!-- .content -->
  </div><!-- .col -->

  <div class="col-sm-6">
    <div class="content imgCard">
      <img class="responsive" src="img/slides/about-slide1.jpg" />
    </div><!-- .content -->
  </div><!-- .col -->
</section>

<section class="row blueTheme">
  <div class="col-sm-6">
    <div class="content card cardTitle">
      <h2>Our values</h2>
    </div><!-- .content -->
  </div><!-- .col -->

  <div class="col-sm-6">
    <div class="content card cardDetail textSlider padTop-lrg">

      <!-- start Bootstrap carousel -->
      <div id="carousel-values" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-values" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-values" data-slide-to="1"></li>
          <li data-target="#carousel-values" data-slide-to="2"></li>
          <li data-target="#carousel-values" data-slide-to="3"></li>
          <li data-target="#carousel-values" data-slide-to="4"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <h3>Determined to Succeed</h3>
            <p>#wewillwin, tenacious, resourceful, innovative, dare to be great, whatever it takes</p>
          </div>

          <div class="item">
            <h3>Delight Customers</h3>
            <p>Love our customers, understand them and delight them</p>
          </div>

          <div class="item">
            <h3>Invest in Relationships</h3>
            <p>It's personal for us. We invest in all our relationships - customers, vendors, investors, and co-workers</p>
          </div>

          <div class="item">
            <h3>Authentic</h3>
            <p>Authentic, honest, humble, transparent</p>
          </div>

          <div class="item">
            <h3>Courage to Change</h3>
            <p>We're not afraid to rethink how something should be done to make it better</p>
          </div>
        </div><!-- .carousel-inner -->

        <!-- Controls -->
        <!--a class="left carousel-control" href="#carousel-values" data-slide="prev"><i class="icon-arrow-left"></i></a-->
        <a class="right carousel-control" href="#carousel-values" data-slide="next"><i class="icon-arrow-right"></i></a>
      </div><!-- end Bootstrap carousel -->

    </div><!-- .content -->
  </div><!-- .col -->
</section>

<section class="row">
  <div class="col-sm-12">
    <div class="content hero aboutHero2">
    </div><!-- .content -->
  </div><!-- .col -->
</section>

<section class="row greenTheme">
  <div class="col-sm-6">
    <div class="content card cardTitle">
      <h2>Our investors</h2>
    </div><!-- .content -->
  </div><!-- .col -->

  <div class="col-sm-6">
    <div class="content card cardDetail">
      <div class="vertical-align">
        <h3>WePay has raised over $34 million from:</h3>
        <ul class="noBullets">
          <li>August Capital</li>
          <li>Continental Investors</li>
          <li>Highland Capital Partners</li>
          <li>Ignition Partners</li>
          <li>Max Levchin</li>
          <li>Webb Investment Network</li>
          <li>Y Combinator</li>
        </ul>
      </div><!-- .vertical-align -->
    </div><!-- .content -->
  </div><!-- .col -->      
</section>


