---
title: Features
---

<section class="row" id="experiences">
  <div class="col-sm-6">
  	<div class="content card cardTitle">
      <h2>Create great customer experiences</h2>
    </div><!-- .content -->
  </div><!-- .col -->

  <div class="col-sm-6">
    <div class="content card cardDetail">
      <div class="vertical-align">
        <h3>Control each part of the payment experience:</h3>
        <ul>
          <li>Users can instantly start accepting payments</li>
          <li>Checkout is on your site</li>
          <li>User get paid quickly, most next day</li>
        </ul>
      </div><!-- .vertical-align -->
      <!--button type="button"><i class="icon-video"></i> Watch our video</button-->
    </div><!-- .content -->
  </div><!-- .col -->
</section>

<section class="row" id="risk">
  <div class="col-sm-6">
    <div class="content card cardTitle">
      <h2>Leave risk management to us</h2>
    </div><!-- .content -->
  </div><!-- .col -->

  <div class="col-sm-6">
    <div class="content card cardDetail">
      <div class="vertical-align">
        <h3>We take on all the risk. Don't worry about:</h3>
        <ul>
          <li>Chargebacks</li>
          <li>Fraud</li>
          <li>Account Takeovers</li>
          <li>Money Laundering</li>
        </ul>
      </div><!-- .vertical-align -->
      <!--button type="button"><i class="icon-video"></i> Learn how Veda makes this possible</button-->
    </div><!-- .content -->
  </div><!-- .col -->
</section>

<section class="row" id="compliance">
  <div class="col-sm-6">
    <div class="content card cardTitle">
      <h2>Get rid of compliance headaches</h2>
    </div><!-- .content -->
  </div><!-- .col -->

  <div class="col-sm-6">
    <div class="content card cardDetail">
      <div class="vertical-align">
        <h3>We'll take care of:</h3>
        <ul>
          <li>1099-K tax filings</li>
          <li>Visa, Mastercard &amp; Amex compliance</li>
          <li>Money Transmission compliance</li>
          <li>PCI security to protect your customers</li>
          <li>AML/BSA</li>
        </ul>
      </div><!-- .vertical-align -->
    </div><!-- .content -->
  </div><!-- .col -->      
</section>

<section class="row" id="api">
  <div class="col-sm-6">
    <div class="content card cardTitle">
      <h2>RESTful API</h2>
    </div><!-- .content -->
  </div><!-- .col -->

  <div class="col-sm-6">
    <div class="content card cardDetail">
      <div class="vertical-align">
        <h3>Desktop or natively mobile optimized</h3>
        <ul>
          <li>Easy-to-use documentation</li>
          <li>SDKs</li>
          <li>Code examples</li>
        </ul>
      </div><!-- .vertical-align -->
      <button type="button"><i class="icon-api"></i> See Documentation to learn more</button>
    </div><!-- .content -->
  </div><!-- .col -->
</section>

<section class="row">
  <div class="col-sm-6">
    <div class="content card cardTitle">
      <h2>Award winning support</h2>
    </div><!-- .content -->
  </div><!-- .col -->

  <div class="col-sm-6">
    <div class="content card cardDetail">
      <div class="vertical-align">
        <h3>We've got your back:</h3>
        <ul>
          <li>Integration design consultation</li>
          <li>Developer support</li>
          <li>Tier 2 support for your support teams</li>
          <li>Support for your end-user, on request</li>
          <li>Account management &amp; success planning</li>
        </ul>
      </div><!-- .vertical-align -->
    </div><!-- .content -->
  </div><!-- .col --> 
</section>

<section class="row">
  <div class="col-sm-6">
    <div class="content card cardTitle">
      <h2>Go global</h2>
    </div><!-- .content -->
  </div><!-- .col -->

  <div class="col-sm-6">
    <div class="content card cardDetail">
      <div class="vertical-align-60">
        <h3>A single API for US &amp; Canada</h3>
        <ul>
          <li>Same seamless experience in Canada</li>
          <li>No additional work for your developers</li>
          <li>Plans to expand to rest of the world</li>
        </ul>
      </div><!-- .vertical-align -->
      <button type="button" data-toggle="modal" data-target="#salesModal"><i class="icon-canada"></i> Get on our global wait list</button>
    </div><!-- .content -->
  </div><!-- .col -->
</section>

<%= partial "partials/demoCTA" %>
