---
title: Home
---

<section class="row mainCTA">
  <div class="col-sm-6">
    <div class="content card">
      <h2>Payments just for platforms</h2>
    </div><!-- .content -->
  </div><!-- .col -->

  <div class="col-sm-6">
  	<div class="row">
  	  <div class="col-sm-12">
        <div class="content mainCTA1">
          <a class="" href="platforms.html"><i class="icon-marketplaces"></i> Marketplaces</a>
        </div><!-- .content -->  	  	
  	  </div><!-- .col -->
  	  <div class="col-sm-12">
        <div class="content mainCTA2">
          <a class="clearfix" href="platforms.html#crowdfunding"><i class="icon-crowdfunding"></i> Crowdfunding Platforms</a>
        </div><!-- .content -->          	  	
  	  </div><!-- .col -->
  	  <div class="col-sm-12">
        <div class="content mainCTA3">
          <a class="" href="platforms.html#smb"><i class="icon-smb"></i> SMB Platforms</a>
        </div><!-- .content -->  	  	
  	  </div><!-- .col -->
  	</div><!-- .row -->
  </div><!-- .col -->
</section>

<section class="row partners">
  <div class="col-sm-12">
    <div class="content">
      <h2>Helping platforms change lives through creative commerce.</h2>
      <ul class="clearfix">
        <li class="care"><a class="vertical-align" target="_blank" href="http://www.care.com/"><img class="responsive" src="img/logos/care.png" alt="Care.com" /></a></li>
        <li class="constantcontact"><a class="vertical-align" target="_blank" href="http://www.constantcontact.com/"><img class="responsive" src="img/logos/constantcontact.png" alt="Costant Contact" /></a></li>
        <li class="gofundme"><a class="vertical-align" target="_blank" href="http://www.gofundme.com/"><img class="responsive" src="img/logos/gofundme.png" alt="gofundme" /></a></li>
        <li class="meetup"><a class="vertical-align" target="_blank" href="http://www.meetup.com/"><img class="responsive" src="img/logos/meetup.png" alt="Meetup" /></a></li>
      </ul>
    </div><!-- .content -->       
  </div><!-- .col -->
</section>

<section class="row secondCTA">
  <div class="col-sm-6 col-sm-push-3">
    <div class="content card">
      <h2>More than only moving money</h2>
    </div><!-- .content -->     
  </div><!-- .col -->

  <div class="col-xs-6 col-sm-3 col-sm-pull-6">
    <div class="row secondCTA">
      <div class="col-xs-12 col-sm-12">
        <div class="content">
          <a href="features.html#risk"><i class="icon-risk"></i><br /> Leave risk management <span class="nowrap">to us.</span></a>
        </div><!-- .content --> 
      </div><!-- .col -->
      <div class="col-xs-12 col-sm-12">
        <div class="content">
          <a href="features.html#compliance"><i class="icon-compliance"></i><br /> Get rid of compliance headaches.</a>
        </div><!-- .content --> 
      </div><!-- .col -->
    </div>
  </div>

  <div class="col-xs-6 col-sm-3">
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <div class="content">
          <a href="features.html"><i class="icon-experience"></i><br /> Create great customer experiences.</a>
        </div><!-- .content --> 
      </div><!-- .col -->
      <div class="col-xs-12 col-sm-12">
        <div class="content">
          <a href="features.html#api"><i class="icon-api"></i><br /> RESTful API for mobile and web.</a>
        </div><!-- .content --> 
      </div><!-- .col -->
    </div>
  </div>
</section>

