---
title: Platform
---

<section class="row blueTheme" id="marketplaces">
  <div class="col-sm-6">
  	<div class="content card cardTitle padLft-sm">
      <h2>Marketplaces</h2>
    </div><!-- .content -->
  </div><!-- .col -->

  <div class="col-sm-6">
    <div class="content card cardDetail">
      <div class="vertical-align-60">
        <h3>Facilitate payments between buyers &amp; sellers without worrying about risk or regulaion.<br/> Key Features:</h3>
        <ul>
          <li>Escrow or delayed payouts</li>
          <li>Trust &amp; safety management</li>
          <li>Control over the user experience</li>
        </ul>
      </div><!-- .vertical-align -->
      <button type="button"><i class="icon-plus"></i> Learn more</button>
    </div><!-- .content -->
  </div><!-- .col -->
</section>

<section class="row">
  <div class="col-sm-6">
    <div class="content card cardTitle pad-0">
      <div class="vertical-align">
        <ul class="logos">
          <li><a class="care" target="_blank" href="http://www.care.com/">Care.com</a></li>
          <li><a class="custommade" target="_blank" href="http://www.custommade.com/">Custom Made</a></li>
          <li><a class="meetup" target="_blank" href="http://www.meetup.com/">Meetup</a></li>
        </ul>     
      </div><!-- .vertical-align -->
    </div><!-- .content -->
  </div><!-- .col -->

  <div class="col-sm-6">
    <div class="content videoThumb">
      <img class="responsive" src="img/platform-pic1.jpg" />
      <button type="button" data-toggle="modal" data-target="#btsModal" data-video="http://player.vimeo.com/video/97263240?autoplay=1">Play</button>
    </div><!-- .content -->
  </div><!-- .col -->
</section>

<section class="row greenTheme" id="crowdfunding">
  <div class="col-sm-6">
    <div class="content card cardTitle padLft-sm">
      <h2>Crowdfunding Platforms</h2>
    </div><!-- .content -->
  </div><!-- .col -->

  <div class="col-sm-6">
    <div class="content card cardDetail">
      <div class="vertical-align-60">
        <h3>Instantly enable users to accept donations.<br/> Key Features:</h3>
        <ul>
          <li>All-or-nothing campaigns</li>
          <li>Friend-raising and beneficiary payments</li>
          <li>Frictionless sign-up</li>
          <li>Individuals or non-profits</li>
        </ul>
      </div><!-- .vertical-align -->
      <button type="button"><i class="icon-plus"></i> Learn more</button>
    </div><!-- .content -->
  </div><!-- .col -->      
</section>

<section class="row">
  <div class="col-sm-6">
    <div class="content card cardTitle">
      <div class="rotate">
        <ul class="logos">
          <li><a class="fundly" data-id="fundly" target="_blank" href="http://www.fundly.com/">Fundly</a></li>
          <li><a class="crowdrise" data-id="crowdrise" target="_blank" href="http://www.crowdrise.com/">Crowdrise</a></li>
          <li><a class="gofundme" data-id="gofundme" target="_blank" href="http://www.gofundme.com/">GoFundMe</a></li>
          <li><a class="youcaring opacity-0" data-id="youcaring" target="_blank" href="http://www.youcaring.com/">YouCaring</a></li>
          <li><a class="giveforward opacity-0" data-id="giveforward" target="_blank" href="http://www.giveforward.com/">GiveForward</a></li>
        </ul>
      </div>
    </div><!-- .content -->
  </div><!-- .col -->

  <div class="col-sm-6">
    <div class="content videoThumb">
      <img class="responsive" src="img/platform-pic2.jpg" />
      <button type="button" data-toggle="modal" data-target="#btsModal" data-video="http://player.vimeo.com/video/97263240?autoplay=1">Play</button>
    </div><!-- .content -->
  </div><!-- .col -->
</section>

<section class="row blueTheme" id="smb">
  <div class="col-sm-6">
    <div class="content card cardTitle">
      <h2>SMB Platforms</h2>
    </div><!-- .content -->
  </div><!-- .col -->

  <div class="col-sm-6">
    <div class="content card cardDetail tightSpace">
      <div class="vertical-align-60">
        <h3>Help your users get paid. Easy sign-ups for your merchants and fast pay-outs.<br class="rwd-break"/> Key Features:</h3>
        <ul>
          <li>Next-day deposits</li>
          <li>Frictionless sign-up</li>
          <li>Flexible risk rules</li>
          <li>Tokenization of credit cards</li>
          <li>Support, even for your small businesses</li>
        </ul>
      </div><!-- .vertical-align -->
      <button type="button"><i class="icon-plus"></i> Learn more</button>
    </div><!-- .content -->
  </div><!-- .col --> 
</section>

<section class="row">
  <div class="col-sm-6">
    <div class="content card cardTitle pad-0">
      <div class="vertical-align-50">
        <ul class="logos">
          <li><a class="invoiceasap" target="_blank" href="http://www.invoiceasap.com/">invoiceASAP</a></li>
          <li><a class="constantcontact" target="_blank" href="http://www.constantcontact.com/">Constant Contact</a></li>
          <li><a class="stayclassy" target="_blank" href="https://www.stayclassy.org/">StayClassy</a></li>
        </ul>
      </div><!-- .vertical-align -->
    </div><!-- .content -->
  </div><!-- .col -->

  <div class="col-sm-6">
    <div class="content videoThumb">
      <img class="responsive" src="img/platform-pic3.jpg" />
      <button type="button" data-toggle="modal" data-target="#btsModal" data-video="http://player.vimeo.com/video/97263240?autoplay=1">Play</button>
    </div><!-- .content -->
  </div><!-- .col -->
</section>

<%= partial "partials/demoCTA" %>
