---
title: Press
---

<section class="row blueTheme">
  <div class="col-sm-6">
  	<div class="content card cardTitle padLft-lrg">
      <h2>News</h2>
    </div><!-- .content -->
  </div><!-- .col -->

  <div class="col-sm-6">
    <div class="content card cardDetail pullQuote">
      <div class="vertical-align">
        <p>"WePay has developed a risk engine designed to sift through hundreds of data points to determine if your customers are legit." <a class="readMore" target="_blank" href="http://www.inc.com/christina-desmarais/how-big-data-can-help-squash-35-billion-in-online-fraud.html">Read more</a></p>
      </div><!-- .vertical-align -->
      <span class="pressSprite inc">Inc.</span>
    </div><!-- .content -->
  </div><!-- .col -->
</section>

<section class="row">
  <div class="col-sm-6">
    <div class="content card cardDetail pullQuote">
      <div class="vertical-align">
        <p>"Veda uses data from social networks [...] to gain a more accurate picture of risk." <a class="readMore" target="_blank" href="http://techcrunch.com/2012/08/29/wepay-payment-buttons/">Read more</a></p>
      </div><!-- .vertical-align -->
      <span class="pressSprite tc">TC</span>
    </div><!-- .content -->
  </div><!-- .col -->

  <div class="col-sm-6">
    <div class="content card cardDetail pullQuote">
      <div class="vertical-align">
        <p>"[WePay's] system takes into account a business's social networking profiles when investigating suspicious transactions." <a class="readMore" target="_blank" href="http://www.nytimes.com/2012/08/02/technology/paypal-antifraud-measures-are-extreme-some-users-say.html">Read more</a></p>
      </div><!-- .vertical-align -->
      <span class="pressSprite nytimes">The New York Times</span>
    </div><!-- .content -->
  </div><!-- .col -->
</section>

<section class="row">
  <div class="col-sm-6">
    <div class="content card cardDetail pullQuote">
      <div class="vertical-align">
        <p>“[WePay's] product is strong but I have most admired the courage with which they have taken on PayPal." <a class="readMore" target="_blank" href="http://www.forbes.com/sites/ryancaldbeck/2012/12/19/the-top-five-financial-technology-companies-of-2012/">Read more</a></p>
      </div><!-- .vertical-align -->
      <span class="pressSprite forbes">Forbes</span>
    </div><!-- .content -->
  </div><!-- .col -->

  <div class="col-sm-6">
    <div class="content card cardDetail pullQuote">
      <div class="vertical-align">
        <p>"[WePay] powers six of the top 15 crowdfunding platforms, with a seventh major partnership in the works." <a class="readMore" target="_blank" href="http://venturebeat.com/2013/10/18/wepays-api-pays-off-handles-648-more-crowdfunding-volume-than-last-year/">Read more</a></p>
      </div><!-- .vertical-align -->
      <span class="pressSprite vb">VB</span>
    </div><!-- .content -->
  </div><!-- .col -->      
</section>

<section class="row greenTheme">
  <div class="col-sm-6">
    <div class="content card cardTitle padLft-lrg">
      <h2>Press</h2>
    </div><!-- .content -->
  </div><!-- .col -->

  <div class="col-sm-6">
    <div class="content card cardDetail textSlider padTop-lrg">

      <!-- start Bootstrap carousel -->
      <div id="carousel-press" class="carousel slide pressIcon" data-ride="carousel">
        <i class="icon-press"></i>

        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-press" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-press" data-slide-to="1"></li>
          <li data-target="#carousel-press" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <p><span class="date">October 21, 2013</span><br /> 
WePay Now Processing Up To $1.5MM Daily In Crowdfunding Volume <a class="readMore" target="_blank" href="http://www.prweb.com/releases/2013/10/prweb11248215.htm">Read more</a></p>
          </div>

          <div class="item">
            <h3>Slide 2</h3>
            <p>Text for slide goes here. Text for slide goes here.</p>
          </div>

          <div class="item">
            <h3>Slide 3</h3>
            <p>Text for slide goes here. Text for slide goes here. Text for slide goes here.</p>
          </div>
        </div><!-- .carousel-inner -->

        <!-- Controls -->
        <!--a class="left carousel-control" href="#carousel-press" data-slide="prev"><i class="icon-arrow-left"></i></a-->
        <a class="right carousel-control" href="#carousel-press" data-slide="next"><i class="icon-arrow-right"></i></a>
      </div><!-- end Bootstrap carousel -->

    </div><!-- .content -->
  </div><!-- .col -->
</section>

<section class="row blueTheme">
  <div class="col-sm-6">
    <div class="content card cardTitle padLft-lrg">
      <h2>Blog</h2>
    </div><!-- .content -->
  </div><!-- .col -->

  <div class="col-sm-6">
    <div class="content card cardDetail textSlider padTop-lrg">

      <!-- start Bootstrap carousel -->
      <div id="carousel-blog" class="carousel slide pressIcon" data-ride="carousel">
        <i class="icon-blog"></i>

        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-blog" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-blog" data-slide-to="1"></li>
          <li data-target="#carousel-blog" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <p><span class="date">October 21, 2013</span><br /> 
First Look: WePay's Risk API <a class="readMore" href="#">Read more</a></p>
          </div>

          <div class="item">
            <h3>Slide 2</h3>
            <p>Text for slide goes here. Text for slide goes here.</p>
          </div>

          <div class="item">
            <h3>Slide 3</h3>
            <p>Text for slide goes here. Text for slide goes here. Text for slide goes here.</p>
          </div>
        </div><!-- .carousel-inner -->

        <!-- Controls -->
        <!--a class="left carousel-control" href="#carousel-blog" data-slide="prev"><i class="icon-arrow-left"></i></a-->
        <a class="right carousel-control" href="#carousel-blog" data-slide="next"><i class="icon-arrow-right"></i></a>
      </div><!-- end Bootstrap carousel -->

      <span class=""></span>
    </div><!-- .content -->
  </div><!-- .col --> 
</section>

<section class="row greenTheme">
  <div class="col-sm-6">
    <div class="content card cardTitle padLft-lrg">
      <h2>Events</h2>
    </div><!-- .content -->
  </div><!-- .col -->

  <div class="col-sm-6">
    <div class="content card cardDetail textSlider padTop-lrg">

      <!-- start Bootstrap carousel -->
      <div id="carousel-events" class="carousel slide pressIcon" data-ride="carousel">
        <i class="icon-events"></i>

        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-events" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-events" data-slide-to="1"></li>
          <li data-target="#carousel-events" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <p><span class="date">May 21, 2014</span><br /> 
WePay Hosts Developers Conference To Help New Startups <a class="readMore" href="#">Read more</a></p>
          </div>

          <div class="item">
            <h3>Slide 2</h3>
            <p>Text for slide goes here. Text for slide goes here.</p>
          </div>

          <div class="item">
            <h3>Slide 3</h3>
            <p>Text for slide goes here. Text for slide goes here. Text for slide goes here.</p>
          </div>
        </div><!-- .carousel-inner -->

        <!-- Controls -->
        <!--a class="left carousel-control" href="#carousel-events" data-slide="prev"><i class="icon-arrow-left"></i></a-->
        <a class="right carousel-control" href="#carousel-events" data-slide="next"><i class="icon-arrow-right"></i></a>
      </div><!-- end Bootstrap carousel -->

    </div><!-- .content -->
  </div><!-- .col -->
</section>

<section class="row blueTheme pressLogo">
  <div class="col-sm-6">
    <div class="content card cardTitle padLft-lrg">
      <h2>Logo</h2>
    </div><!-- .content -->
  </div><!-- .col -->

  <div class="col-sm-6">
    <div class="content card cardDetail">
      <div class="vertical-align-50">
        <strong>Color</strong> <span class="divider">|</span> Ai, EPS, PDF, PNG
        <a href="#"><img class="img-responsive" src="img/logos/wepay-color.png" alt="Wepay" /></a>
        <strong>Black</strong> <span class="divider">|</span> Ai, EPS, PDF, PNG
        <a href="#"><img class="img-responsive" src="img/logos/wepay-black.png" alt="Wepay" /></a>
        <strong>White</strong> <span class="divider">|</span> Ai, EPS, PDF, PNG
        <a href="#"><img class="img-responsive" src="img/logos/wepay-white.png" alt="Wepay" /></a>
      </div><!-- .vertical-align -->
    </div><!-- .content -->
  </div><!-- .col -->
</section>

<%= partial "partials/demoCTA" %>
