---
title: Team
---

<section class="row">
  <div class="col-sm-6 blueTheme">
    <div class="content card cardTitle">
      <h2>Meet the people behind the magic</h2>
    </div><!-- .content -->
  </div><!-- .col -->

  <div class="col-xs-6 col-lnd-6 col-sm-3 photo">
    <div class="content touchHover" data-id="1" style="background-image:url('img/team/pic1.jpg')">
      <div class="bio">
        <b>Steve</b><br/>
        Steve Pellizzer is the CFO. He leads the financial rah-rah of the biz. Formally, Steve was CFO at CyberSource.
      </div>
    </div><!-- .content -->
  </div><!-- .col -->

  <div class="col-xs-6 col-lnd-6 col-sm-3 photo">
    <div class="content touchHover" data-id="2" style="background-image:url('img/team/pic2.jpg')">
      <div class="bio">
        <b>Steve</b><br/>
        Steve Pellizzer is the CFO. He leads the financial rah-rah of the biz. Formally, Steve was CFO at CyberSource.
      </div>
    </div><!-- .content -->
  </div><!-- .col -->

  <div class="col-xs-6 col-lnd-6 col-sm-3 photo">
    <div class="content touchHover" data-id="3" style="background-image:url('img/team/pic3.jpg')">
      <div class="bio">
        <b>Steve</b><br/>
        Steve Pellizzer is the CFO. He leads the financial rah-rah of the biz. Formally, Steve was CFO at CyberSource.
      </div>
    </div><!-- .content -->
  </div><!-- .col -->

  <div class="col-xs-6 col-lnd-6 col-sm-3 photo">
    <div class="content touchHover" data-id="4" style="background-image:url('img/team/pic4.jpg')">
      <div class="bio">
        <b>Steve</b><br/>
        Steve Pellizzer is the CFO. He leads the financial rah-rah of the biz. Formally, Steve was CFO at CyberSource.
      </div>
    </div><!-- .content -->
  </div><!-- .col -->

  <div class="col-xs-6 col-lnd-6 col-sm-3 photo">
    <div class="content touchHover" data-id="5" style="background-image:url('img/team/pic5.jpg')">
      <div class="bio">
        <b>Steve</b><br/>
        Steve Pellizzer is the CFO. He leads the financial rah-rah of the biz. Formally, Steve was CFO at CyberSource.
      </div>
    </div><!-- .content -->
  </div><!-- .col -->

  <div class="col-xs-6 col-lnd-6 col-sm-3 photo">
    <div class="content touchHover" data-id="6" style="background-image:url('img/team/pic6.jpg')">
      <div class="bio">
        <b>Steve</b><br/>
        Steve Pellizzer is the CFO. He leads the financial rah-rah of the biz. Formally, Steve was CFO at CyberSource.
      </div>
    </div><!-- .content -->
  </div><!-- .col -->

  <div class="col-xs-6 col-lnd-6 col-sm-3 photo">
    <div class="content touchHover" id="7" style="background-image:url('img/team/pic7.jpg')">
      <div class="bio">
        <b>Steve</b><br/>
        Steve Pellizzer is the CFO. He leads the financial rah-rah of the biz. Formally, Steve was CFO at CyberSource.
      </div>
    </div><!-- .content -->
  </div><!-- .col -->

  <div class="col-xs-6 col-lnd-6 col-sm-3 photo">
    <div class="content touchHover" id="8" style="background-image:url('img/team/pic1.jpg')">
      <div class="bio">
        <b>Steve</b><br/>
        Steve Pellizzer is the CFO. He leads the financial rah-rah of the biz. Formally, Steve was CFO at CyberSource.
      </div>
    </div><!-- .content -->
  </div><!-- .col -->

  <div class="col-xs-6 col-lnd-6 col-sm-3 photo">
    <div class="content touchHover" id="9" style="background-image:url('img/team/pic2.jpg')">
      <div class="bio">
        <b>Steve</b><br/>
        Steve Pellizzer is the CFO. He leads the financial rah-rah of the biz. Formally, Steve was CFO at CyberSource.
      </div>
    </div><!-- .content -->
  </div><!-- .col -->

  <div class="col-xs-6 col-lnd-6 col-sm-3 photo">
    <div class="content touchHover" id="10" style="background-image:url('img/team/pic3.jpg')">
      <div class="bio">
        <b>Steve</b><br/>
        Steve Pellizzer is the CFO. He leads the financial rah-rah of the biz. Formally, Steve was CFO at CyberSource.
      </div>
    </div><!-- .content -->
  </div><!-- .col -->

  <div class="col-xs-6 col-lnd-6 col-sm-3 photo">
    <div class="content touchHover" id="11" style="background-image:url('img/team/pic4.jpg')">
      <div class="bio">
        <b>Steve</b><br/>
        Steve Pellizzer is the CFO. He leads the financial rah-rah of the biz. Formally, Steve was CFO at CyberSource.
      </div>
    </div><!-- .content -->
  </div><!-- .col -->

  <div class="col-xs-6 col-lnd-6 col-sm-3 photo">
    <div class="content touchHover" id="12" style="background-image:url('img/team/pic5.jpg')">
      <div class="bio">
        <b>Steve</b><br/>
        Steve Pellizzer is the CFO. He leads the financial rah-rah of the biz. Formally, Steve was CFO at CyberSource.
      </div>
    </div><!-- .content -->
  </div><!-- .col -->

  <div class="col-xs-6 col-lnd-6 col-sm-3 photo">
    <div class="content touchHover" id="13" style="background-image:url('img/team/pic6.jpg')">
      <div class="bio">
        <b>Steve</b><br/>
        Steve Pellizzer is the CFO. He leads the financial rah-rah of the biz. Formally, Steve was CFO at CyberSource.
      </div>
    </div><!-- .content -->
  </div><!-- .col -->

  <div class="col-xs-6 col-lnd-6 col-sm-3 photo">
    <div class="content touchHover" id="14" style="background-image:url('img/team/pic7.jpg')">
      <div class="bio">
        <b>Steve</b><br/>
        Steve Pellizzer is the CFO. He leads the financial rah-rah of the biz. Formally, Steve was CFO at CyberSource.
      </div>
    </div><!-- .content -->
  </div><!-- .col -->

  <div class="col-xs-6 col-lnd-6 col-sm-3 photo">
    <div class="content touchHover" id="15" style="background-image:url('img/team/pic1.jpg')">
      <div class="bio">
        <b>Steve</b><br/>
        Steve Pellizzer is the CFO. He leads the financial rah-rah of the biz. Formally, Steve was CFO at CyberSource.
      </div>
    </div><!-- .content -->
  </div><!-- .col -->

  <div class="col-xs-6 col-lnd-6 col-sm-3 photo">
    <div class="content touchHover" id="16" style="background-image:url('img/team/pic2.jpg')">
      <div class="bio">
        <b>Steve</b><br/>
        Steve Pellizzer is the CFO. He leads the financial rah-rah of the biz. Formally, Steve was CFO at CyberSource.
      </div>
    </div><!-- .content -->
  </div><!-- .col -->

</section>